<%inherit file="/homepage/templates/base_ajax.htm"/>

<%block name="center_content">
  <form id="edituserform" action="/manager/users.edit/${userid}" method="POST">
    <table class="table table-striped">
      ${form}
    </table>
    <input class="btn btn-success" type="submit" value="Save Changes">
    <a class="btn btn-warning" data-pid = ${ userid } data-toggle="modal" id="changepasswordlink" >Change Password</a>
    <a class="btn btn-default" href="/manager/users">Back</a>
  </form>
</%block>
