<%inherit file="base.htm"/>

          <%block name="title">
            Colonial Heritage Foundation
          </%block>
          ## block for page title


<%block name="maintenance_message">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="text-center">
      <strong>Ye Be warned!</strong> This site is currently under construction.
    </div>
  </div>
</%block>
  ## block for maintence message



<%block name="header">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Colonial Heritage Foundation</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Account info</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div><!-- /.container-fluid -->
  </header>
</%block>
    ## header block

<%block name="alert_message">
  <div class="row">
    <div class="col-md-2" id="alert">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
    </div>
  </div>
</%block>
  ## block for fixed alert message


<%block name="above_columns">
  this is area above the columns
</%block>
  ## block for area above right, left and center columns


<%block name="left_content">
  left content
</%block>
  ## block for left content

<%block name="center_content">
  <h1>center content</h1>
</%block>
  ## block for center content

<%block name="right_content">
  right content
</%block>
  ## block for right content

<%block name="footer">
  <footer class="footer">
    Copyright &copy ${ datetime.now().year} - Jarrod Wilbur
  </footer>
</%block>
  ## block for footer of page; probably wont have change, just placed here for precaution
