## this is the skeleton of all pages on in this app - it defines the basic html tags ## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
  <%  static_renderer = static_files.StaticRenderer(self) %>
    <% from datetime import datetime %>

      <!-- every hour i work is netflix for two months. -->

      <!DOCTYPE html>
      <html>
      <meta charset="UTF-8">

  <head>
    <title>
      <%block name="title">
      </%block>
    </title>
      ## block for page title

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="${STATIC_URL}homepage/media/jquery.loadmodal.js"></script>
    <script src="${STATIC_URL}homepage/media/jquery.form.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}homepage\media\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.7/font-awesome-animation.css">
    <link rel="icon" href="${STATIC_URL}homepage/media/CHF.ico">
    <script src="${STATIC_URL}homepage/media/moment.min.js"></script>
    <script src="${STATIC_URL}homepage/media/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}homepage/media/bootstrap-datetimepicker.min.css">

    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)}
  </head>

  <%block name="main_body">
    <body>
      <%block name="maintenance_message">
      </%block>
      ## block for maintence message

      <%block name="header">
      </%block>
      ## header block

      <%block name="alert_message">
      </%block>
      ## block for fixed alert message

        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>
                <%block name="above_columns">
                </%block>
                ## block for area above right, left and center columns

              </h1>
            </div>
          </div>
          <div class="row">
            <div class="text-left col-md-2">
              <%block name="left_content">
              </%block>
              ## block for left content

            </div>

            <div class=" col-md-8">
              <%block name="full_content">
              </%block>
              ## block for full content MUST BE USED ON ITS OWN
            </div>

            <div class=" col-md-8">
              <%block name="center_content">
              </%block>
              ## block for center content
            </div>

            <div class="text-right col-md-2">
              <%block name="right_content">
              </%block>
              ## block for right content
            </div>
          </div>
        </div>
        ##div for non-fluid container

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>
                <%block name="above_content">
                </%block>
                ## block for area above right, left and center columns
              </h1>
            </div>
          </div>

          <div class="row">
            <div class=" col-md-12">
              <%block name="full_length_content">
              </%block>
              ## block for full content MUST BE USED ON ITS OWN
            </div>
          </div>
        </div>

        <div class="container">
          <hr/>
          <%block name="footer">
          </%block>
        </div>
    </body>
  </%block>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  ## render the JS with the same name as this page
  ${ static_renderer.get_template_js(request, context)  }
</html>
