## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>
<% from datetime import datetime %>

<!-- every hour i work is netflix for two months. why work? -->

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <title><%block name="title">Colonial Heritage Foundation</%block></title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}homepage\media\bootstrap\css\bootstrap-theme.min.css">
    <link rel="stylesheet" href="${STATIC_URL}homepage\media\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.7/font-awesome-animation.css">
    <link rel="icon" href="${STATIC_URL}homepage/media/CHF.ico"

    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }

  </head>


  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="text-center">
      <%block name="maintenance_message">
          <strong>Ye Be warned!</strong> This site is currently under construction.
      </%block>
    </div>
  </div>
  <body>
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Colonial Heritage Foundation</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Login</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div><!-- /.container-fluid -->
  </header>
  <div class="row">
    <div class="col-md-2" style="float:right">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-info text-center">
        <h1>
          <%block name="above_columns">
            this is area above the columns
          </%block>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="text-left col-md-3 bg-danger">
        <%block name="left_content">
          left content
        </%block>
      </div>

      <div class="text-center col-md-6 bg-warning">
        <%block name="center_content">
          <h1>center content</h1>
        </%block>
      </div>

      <div class="text-right col-md-3 bg-primary  ">
        <%block name="right_content">
          right content
        </%block>
      </div>
    </div>
  </div>
  <div class="container">
    <hr/>
    <footer class="footer">
      ${ datetime.now().year} &copy - Jarrod Wilbur
    </footer>
  </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }

  </body>
</html>
